/* ---------    In progress pages */
body {
    background-color: black;
    font-family: "Nunito", sans-serif
}

.wrapper {
    display: flex;
    flex-flow: wrap column;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.text {
    color: rgb(253, 250, 245);
    margin: 33vh 2rem 0 5%;
}

.linkWrapper {
    margin: 2rem 2rem 0 5%;
}

.backHome {
    color: lightskyblue;
}