

/* -------------------------------- Backgrounds  */

body {
    background-color: black;
    scroll-behavior: smooth;
}


/* -------------------------------- Parallax  */

/*.aboutWrapper {
    display: inline-block;
    position: absolute;
    z-index: -1;
}*/

#aboutPlx {
    background-image: url(assets/images/maskoff.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -2;

}


/* -------------------------------- Colors  */


/* -------------------------------- Content  */
/*  About   */
/*Space above*/
.abouTop {
    height: 300px;
}

.title h1 {
    font-family: 'Julius Sans One', monospace;
    color: rgb(239, 147, 147);
}

.title {
    display: block;
    height: 120px;
}


.about-text-content {
    color: whitesmoke;
    justify-content: center;
    font-family: 'Julius Sans One', monospace;
    font-size: 1em;

}



