

/* -------------------------------- Backgrounds  */

body {
    background-color: black;
    scroll-behavior: smooth;
}


/* -------------------------------- Parallax  */

/*parallax version1 */
/*.aboutWrapper {
    display: inline-block;
    position: absolute;
    z-index: -1;
}*/
.about-wrapper {
    position: relative;
}
#aboutPlx {
    background-image: url(assets/images/maskoff.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -2;

}*/

.MainContainerAbout {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}


.aboutPlx {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100%;
    transform: translate(-1px) scale(2);
    -webkit-transform: translate(-1px) scale(2);
    -moz-transform: translate(-1px) scale(2);
    -ms-transform: translate(-1px) scale(2);
    -o-transform: translate(-1px) scale(2);
    background-image: url(assets/images/maskoff.jpg);

}

/* -------------------------------- Colors  */


/* -------------------------------- Content  */
/*  Home    */
.home-wrapper { 
    position: relative;
    height: 768px;
}
/*  Gallery */

/*  Archive */

/*  About   */

.about-container {
    position: absloute;
    height: 1000px;

}

.aboutTop {
    height: 480px;
}

.aboutUnder {
    height: 30px;
}

.title h1 {
    font-family: 'Julius Sans One', monospace;
    color: rgb(239, 147, 147);
}

title {
    display: block;
}


.about-text-content {
    color: whitesmoke;
    justify-content: center;
    font-family: 'Julius Sans One', monospace;
    font-size: 1em;

}

/*  Contact*/
