/* -------------------------------- General styles  */
html, body {
    height: 100%;
    width: 100%;
    background-color: white;
    scroll-behavior: smooth;
    color: black;
}

/* -------------------------------- Navigation bar  */
.navbar {
    background-color: rgba(0, 0, 0, 0.404);
    border: solid 1px;
    text-transform: uppercase;
}

.container {
    display: inline-block;
}

.logo-container {
    left: 0;
}
.navbar .navbar-collapse {
    text-align: right;
    border-top: 10px solid black;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color:white;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.navbar-nav>li>a {
    line-height: 20px;
}

.navbar-default .navbar-nav li a:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    color: rgb(255, 109, 109);
    text-decoration: none;
}


.navbar-right {
    float: right!important;
}

li:hover::after {
    content: ' ';
    position: absolute;
    border: solid 10px transparent;
    border-top: solid 0px transparent;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
    border-color: #222 transparent transparent transparent;
}

/*  logo    */

.logo {
    background-color: transparent;
    display: inline-block;
    margin: 0;
    font-family: 'Julius Sans One', monospace;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 6px;
    font-stretch: expanded;
    color: rgb(239, 147, 147);
    border: solid 1px;
    border-color: rgb(239, 147, 147);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -ms-transition: all .5 ease-in-out;
    -o-transition: all .5 ease-in-out;
}
    
.logo:hover {
    text-decoration: none;
    background-color: rgb(239, 147, 147);
    color: black;
}

/* -------------------------------- Backgrounds  */


/* -------------------------------- Parallax  */

.about-wrapper {
    position: absolute;
}
#aboutPlx {
    background-image: url(assets/images/maskoff.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -2;

}*/

.MainContainerAbout {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


.aboutPlx {
    display: flex;
    flex: 1 0 auto;
    position: absolute;
    z-index: -1;
    height: 100vh;
    transform: translate(-1px) scale(2);
    -webkit-transform: translate(-1px) scale(2);
    -moz-transform: translate(-1px) scale(2);
    -ms-transform: translate(-1px) scale(2);
    -o-transform: translate(-1px) scale(2);
    background-image: url(assets/images/maskoff.jpg);

}

/* -------------------------------- Colors  */


/* -------------------------------- Content  */
/*  Home    */
.home{
    display: block;
}
.home-wrapper { 
    position: relative;
    height: 768px;
}
/*  Gallery */

/*  Archive */

/*  About   */

.about-container {
    position: relative;
    height: 1000px;

}

.title h1 {
    font-family: 'Julius Sans One', monospace;
    color: rgb(255, 109, 109);
}

title {
    display: block;
}


.about-text-content {
    color: whitesmoke;
    justify-content: center;
    font-family: 'Julius Sans One', monospace;
    font-size: 1em;

}

/*  Contact*/
